<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>MVC With Sushi!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/cats.js"></script>
	</head>
	<body>
		<img src="https://is1-ssl.mzstatic.com/image/thumb/Purple128/v4/3c/08/73/3c0873e0-cb69-b97f-2bab-002dff19da6b/source/256x256bb.jpg" alt="Sushi" height="100" width="100">
		
		
		
		<div class="creations">
			<h1>Sushi Creations</h1>
		</div>
		<div class="eaten">
			<h1>Clean Plate Club of Sushi</h1>
		</div>
		{{{ body }}}
	</body>
</html>
