<div class="container">

<h1>Sushi!</h1>

		<img src="https://is1-ssl.mzstatic.com/image/thumb/Purple128/v4/3c/08/73/3c0873e0-cb69-b97f-2bab-002dff19da6b/source/256x256bb.jpg" alt="Sushi" height="100" width="100">
</div>
	<h1>Clean Plate Club of Sushi</h1>
<ul>
  {{#each sushis}}
    {{#unless devoured}}
      {{> sushi/sushi-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>


  <h1>Sushi Creations</h1>

<ul>
  {{#each sushis}}
    {{#if devoured}}
      {{> sushi/sushi-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Create Sushi</h2>
<form>

  <div class="form-group">
    <label for="ca">Sushi creation:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Have you tried your masterpiece before?</label><br>
    <input type="radio" name="devoured" value="1" checked> Eaten?<br>
    <input type="radio" name="devoured" value="0"> Ready-to-eat?
  </div>
  <div class="subbtn">
  <button class="create-form" type="submit">Add Creation!</button>
  </div>
</form>
